* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    }

    
    

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #fff;
}
::-webkit-scrollbar-thumb {
    background: #7E1E88;
    border-radius: 12px;
}
::-webkit-scrollbar-thumb:hover {
    background: violet;
    width: 15px;
}




html {
  /*  background-color: #fff; 
    color: #fff; */
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    z-index: 2;
}

nav {
    position: fixed;
    width: 100%; 
    padding: 20px 0;
    z-index: 998;
    transition: all 0.4s ease;
}

nav.sticky {
    padding: 20px 0;
    background: #7E1E88;
}

nav .row {
    display: flex;
    align-items: center;
    justify-content: space-between ;
}

nav .row .navigation{
      display: flex;
      transition: ease;
  }

nav .row .navigation li{
    margin: 0 20px;
    list-style: none;
  }

.row .navigation li a:link,
.row .navigation li a:visited {
      padding: 4px 0px;  
      font-weight: 400; 
      color: #fff;
      text-decoration: none;
      font-size: 18px;
      border-bottom: 4px solid transparent;
      transition: border-bottom 0.3s;
  } 

  nav.sticky .row .navigation li a:link,
  nav.sticky .row .navigation li a:visited {
      color: #fff;
  }

.row .navigation li a:hover,
.row .navigation li a:active {
    color: #7E1E88;
      border-bottom: 4px solid #7E1E88;
      transition: all 0.2s ease;
  }

nav.sticky .row .navigation li a:hover,
nav.sticky .row .navigation li a:active {
    color: #fff;
    border-bottom: 4px solid #fff;
    font-size: 19px;
}

nav .menu-btn,
.row .cancel-btn{
    position: absolute;
    color: #fff;
    font-size: 20px;
    right: 30px;
    top: 20px;
    display: none;
}
nav .menu-btn {
    color: #7E1E88;
}

  .home {
    height: 100vh;
    width: 100%;
    
   /* background: url("../Css/Images/Background.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed; */
}

.home video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: 0;
  }

.home .home-content{
    height: 100%;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}

.home .text .text-one {
    font-size: 50px ;
    font-weight: 400;
    justify-content: center;
    display: flex ;
    text-align: center;
    color: #c4c4c4;
}

.home .text .text-two {
    font-size: 35px;
    font-weight: 400;
    justify-content: center;
    display: flex ;
    margin-bottom: 15px;
    text-align: center;
    color: #c4c4c4;
}

.home .text .text-three {
    font-size: 25px ;
    font-weight: 400;
    justify-content: center;
    display: flex ;
    text-align: center;
    margin-bottom: 50px;
    color: #c4c4c4;
}

.home .text .text-four {
    font-size: 45px ;
    font-weight: 400;
    justify-content: center;
    display: flex ;
    text-align: center;
    color: #c4c4c4;
}

.home .button {
    margin: 14px 0;
}

.home .button button {
    outline: none;
    color: #7E1E88;
    font-size: 20px;
    font-weight: 500;
    padding: 8px 16px;
    background: white;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: all 0.4s ease;
}

.home .button button:hover {
    color: #fff;
    background-color: transparent;
    border-color: white;
    cursor: pointer;
} 

/*education section */

section {
   padding-top: 40px;
   height: 100vh;
   width: 100%;
   position: relative;
  /* background: url("../Css/Images/Background.jpg") no-repeat;
   background-position: center;
   background-size: cover;
   background-attachment: fixed; */
} 

.education .content {
    width: 80%;
    margin: 0 auto; 
}

.education .education-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section .title { 
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    padding-top: 40px;
}

section .title span {
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 12px;
    position: relative;
}

section .title span::before, 
section .title span::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: #7E1E88;
}

section .title span::after {
    width: 70%;
    left: 50%;
    transform: translate(-50%);
    bottom: 7px;
}

.education .education-details .left {
    width: 55%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.education .education-details .right {
    width: 45%;
}
.education .education-details .right img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 12px;
    margin-top: 50px;
}

section .topic {
    font-size: 25px;
    font-weight: 500;
    color: #c4c4c4;
    margin-bottom: 10px;
}

.education-details .left p{
    color: #c4c4c4;
    text-align: justify ;
    box-sizing: border-box;
    margin-bottom: 20px;
}

/*Responsive media query cscs*/
@media (max-width: 1290px) {
    .education .content {
        width: 85%;
    }
}

@media (max-width: 1110px) {   
   .education-details .left p{
        font-size: 85%;
    }
    .education .education-details{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    section .topic {
        margin-bottom: 10px;
        margin-top: 15px;
    }
    .education .education-details .left {
        width: 100%;
        text-align: center;
    }

    .education .education-details .right {
        width: auto;
    }

    .education .education-details .right img {
            margin-top: -20px;
            height: 200px;
            width: 200px;
            align-items: center;
        }
}

@media (max-width: 720px) {
    .education-details .left p{
        font-size: 67%;
    }
}
@media (max-width: 800px) {
    nav .row .navigation {
        position: absolute;
        left: -100%;
        top: 0;
        height: 100vh;
        max-width: 40%;
        width: 100%;
        background: #7E1E88; 
        flex-direction: column;
        align-items: center;
        padding-top: 60px;
        transition: all 0.5s ease;
    }
    nav .row.active .navigation {
        left: 0;
    }

    .row .navigation li a:link,
    .row .navigation li a:visited {
        display: block;
        margin: 10px 0;
      }
    
nav.sticky {
    padding: 0 0;
}

nav .menu-btn,
      .row .navigation .cancel-btn {
      display: block;
      }
}

/* Skills Section */

.skills .skill-details {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

/*.skills .title span {
    margin-top: 40px;
} */

.skills .skill-details .boxes {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 60px;
}

.skills .skill-details .boxes .box {
    width: calc(100% / 3 - 20px);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;      
}  

.box img {
    width: 128px;
    height: 128px;
    transition: transform 0.5s ease;
}

.box img:hover {
    transform: scale(1.3);
}  

.skill-details .boxes .box .num {
    margin: 20px;
    padding-bottom: 50px;
    font-size: 40px;
    font-weight: 500;
}
 
@media (max-width: 590px){
    .skills .skill-details .boxes {
        width: 100%;
    }
}
@media (max-width: 750px) {
.box img {
    width: 96px;
    height: 96px;
    transition: transform 0.5s ease;
}

}

/* projects section */

section .projects {
    height: 100vh;
    box-sizing: border-box;
}

.projects .content .title span{
    padding-bottom: 12px;
    margin-bottom: 60px;
}

.projects .boxes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.projects .boxes .boxs {
    width: calc(100% / 3 - 0);
    margin: 20px 30px;
    text-align: center;
    border-radius: 15px;
}  

.boxs {
    position: relative;
    width: 426px;
    height: 240px;
    border-radius: 20px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    transition: 0.5s;
} 

.boxs:hover {
    height: 500px;
}

.boxs .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
}

.boxs .circle::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    clip-path: circle(90px at center);
    transition: 0.5s;
}

.boxs:hover .circle:before {
    background: #7E1E88;
    clip-path: circle(300px at center);
}

.boxs .image {
    margin-top: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    pointer-events: none;
    transition: 0.5s;
}

.boxs:hover .image {
    top: 10%;
    width: 383.4px;
    height: 216px;
}

.boxs .webcontent {
    position: relative;
    width: 65%;
    top: 35%;
    padding-top: 10px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.boxs:hover .webcontent {
    opacity: 1;
    visibility: visible;
}

.boxs .webcontent h2 {
    color: #fff;
  /*  text-transform: uppercase;*/
    font-weight: 800;
    font-size: 32px;
    margin-bottom: 5px;
}

.boxs .webcontent p {
    color: #fff;
}

.boxs .webcontent a {
    position: relative;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    background: #fff;
    color: #111;
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
}

.projects .boxes .boxs .image {
    border-radius: 20px;
    box-shadow: 0 0px 30px rgba(0, 0, 0, 1);
}

/*.boxs:hover {
    cursor: pointer;
    background: #7E1E88;
    opacity: 1;
}*/

.textsa {
    margin-top: -35px;
    padding-bottom: 30px;
    font-weight: 400;
}
 
@media (max-width: 1475px) {
    .projects {
        min-height: 900px;
    }
    .projects .content .boxes {
        margin-top: -100px;
    }

    .projects .boxes .boxs {
        width: calc(100% / 2 - 0);
        margin: 30px 50px;
        text-align: center;
        border-radius: 15px;
    }  
    .projects .boxes .boxs .image {
        margin-top: 15px;
        margin-bottom: 50px;
        width: 413.4px;
        height: 231px;
    }

    .boxs .webcontent {
        position: relative;
        width: 70%;
        top: 35%;
        padding-top: 10px;
    }

    .boxs .webcontent h2 {
        margin-top: 10px;
    }

    .textsa {
        padding-top: 10px;
    }

}

@media (max-width: 1361px) {
    .projects .boxes .boxs {
        width: calc(100% / 2 - 0);
        margin: 60px 50px;
        text-align: center;
        border-radius: 15px;
    }  
    
    .projects {
        min-height: 1000px;
    }

    .projects .boxes .boxs .image {
        width: 511.2px;
        height: 288px;
    }

    .textsa {
        padding-top: 35px;
    }

    .boxs .webcontent h2 {
        padding-top: 30px;
    }
    .boxs .webcontent p {
        padding: 5px 0;
        font-size: 18px;
        width: 100%;
    }
}

@media (max-width: 1240px) {

    .projects .content .boxes {
        margin-top: -50px;
    }

    .projects .boxes .boxs {
        width: 100%;
        margin: 50px 50px;
        text-align: center;
        border-radius: 15px;
    }  
    .projects {
        min-height: 1720px;
    }

    .projects .boxes .boxs .image {
        width: 468.6px;
        height: 264px;
    }

    .boxs .webcontent h2 {
        padding-top: 50px;
    }

    .boxs {
        height: 400px;
    }

    .boxs:hover {
         height: 400px;
    }

    .boxs:hover .circle:before {
        background: #7E1E88;
        clip-path: circle(600px at center);
    }

    .textsa {
        margin-top: 80px;
    }
}

@media (max-width: 921px) {
    .boxs:hover {
        height: 450px;
    }
}

@media (max-width: 725px) {
    .boxs:hover {
        height: 530px;
    }

    .textsa {
        padding-top: 60px;
    }
}

@media (max-width: 520px) {
    .boxs:hover {
        height: 530px;
    }
    .boxs .content {
        padding-top: -30px;
    }
    
}
 
/* Connect section*/
.connect {
    max-height: 600px;
}

.connect::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    z-index: 1;
    backdrop-filter: blur(5px);
    border-top: 1px solid rgba(126, 30, 136, 0.25);
}

.connect .connect-details .boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 250px;
    text-align: center;
    margin-top: 150px;
}

.connect ul {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 120px;
    z-index: 2;
}

.connect ul li {
    position: relative;
    list-style: none;
    margin: 0 20px;
}

.connect ul li a {
    bottom: 30px;
    position: relative;
    width: 80px;
    height: 80px;
    display: inline-block;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 2em;
    border: 1px solid rgba(126, 30, 136, 0.5);
    border-right: 1px solid rgba(126, 30, 136, 0.25);
    border-bottom: 1px solid rgba(126, 30, 136, 0.25);
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    transition: 0.5s;
    overflow: hidden;
}

.connect ul li a:hover {
    transform: translateY(-20px);
}

.connect ul li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(126, 30, 136, 0.5);
    transform: skewX(45deg) translateX(150px);
    transition: 0.5s;
}

.connect ul li a:hover::before {
    transform: skewX(45deg) translateX(-150px);
}

@media (max-width: 1260px) {
    .connect .connect-details .boxes {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 100px;
        text-align: center;
        margin-top: 150px;
    }
}

@media (max-width: 850px) {
    .connect .connect-details .boxes {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 0 100px;
        text-align: center;
        margin-top: 0px;
    }
    .boxa {
        margin: 20px;
    }
    .connect{
        min-height: 840px;
    }
}

@media (max-width: 580px) {
    .connect ul li {
        margin: 0 10px;
    }
}

footer {
    background: #7E1E88;
    text-align: center;
    padding: 15px 0;
    position: relative;
}

footer .text span {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

.scroll-btn i {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 14px 24px;
    background: #7E1E88;
    color: #fff;
    font-size: 18px;
    border-radius: 7px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    z-index: 998;
}

 
   

 /* .Intro-line-1{ 

    position: absolute;
    width: 100%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
      
    }

  h1{
      margin: 0;
      font-size: 280%;
      text-align: center;
      font-weight: 800;
  }

  h2{
      font-size: 2em;
      text-align: center;
  }


  p{
      font-size: 1.8em;
      font-weight: 300;
      text-align: center;
  }
*/ 


